@import url("typography.css");

html {
    font-size: 36px;
}

body {
    max-width: 1440px;
    margin:auto;
}

nav {
    background-color: black;
    color: white;
    padding: .3rem;
    text-align: right;
    font-size: .67rem
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: .3rem;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: lightgray;
}

nav a:active {
    color: white;
}

footer {
    background-color: black;
    color: white;
    padding: .4rem;
    text-align: center;
    font-size: .67rem;
}

.hero-div {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.hero-container {
    width: 100%;
    max-height: 30vh;
    background-image: url('/images/Hero Image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.all-caps {
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-indent: 1rem;
}

.hero-title {
    color: white;
    font-size: 4rem;
    text-align: center;
}

.hero-tagline {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 50px;
    margin: 0;
}

.headline {
    font-size: 1.5rem;
    font-weight: bold;
}

.blurb {
    display: flow-root;
    font-size: .67rem;
}

.blurb-image-right {
    width: 50%;
    float: right;
}

.blurb-image-left {
    width: 50%;
    float: left;
}

.blurb-text-right {
    width: 48%;
    float: right;
    margin-top: .5rem;
}

.blurb-text-left {
    width: 48%;
    float: left;
    margin-top: .5rem;
    margin-left: 10px;
}

.blurb-text-left {
    width: 06%;
    margin-top: .5rem;
    margin-left: 10px;
}

.text-center {
    display: grid;
    place-items: center;
    margin: 1rem;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-container {
    text-align: center;
}

.menu-item {
    padding-bottom: .5rem;
}

.child-div {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    flex: 1 1 100%;
}

#home-intro {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}